[Unit]
Description=Parenbot
After=network.target

[Service]
Type=simple
EnvironmentFile=/path/to/dir/env
Environment=MIX_ENV=prod
ExecStart=/path/to/dir/bin/parenbot start
Restart=on-failure
RestartSec=5
RemainAfterExit=no

[Install]
WantedBy=multi-user.target


